---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Home">
  <div class="w-[50%] mx-auto my-12">
    <h1>Have you ever?</h1>
    <p>
      Felt stuck when you encounter a merge conflict because you have never seen
      it before? Wouldn't it be great if you could practice these scenarios
      without the worry of messing up an important project repository?
    </p>

    <p>
      Or have you just started learning Git and realized that the tutorial
      examples feel too simple and you aren't getting enough practice but don't
      know where to start?
    </p>

    <div class="w-[80%] my-4 m-auto border-b-neutral-300 border-b-1"></div>

    <h1>Introducing... git-mastery!</h1>
    <p>
      git-mastery looks to help to bridge these gaps in your understanding,
      providing realistic story-based scenarios to tackle Git problems. These
      give you the opportunity to put your understanding of Git theory to the
      test!
    </p>

    <p>
      No matter if you are looking to learn Git or looking to hone your Git
      skills, git-mastery has got you covered!
    </p>

    <a
      href="/setup"
      class="hover:cursor-pointer hover:bg-blue-400 hover:text-white !no-underline transition duration-300 inline-block text-center mt-8 items-center w-full px-4 py-2 rounded-md bg-blue-200 font-bold"
    >
      Are you ready? →
    </a>
  </div>
</BaseLayout>
