---
import { createLocalPath } from "../utils/link";
import Link from "./Link.astro";

const currentPath = Astro.url.pathname;

const directory = [
  [".", "Home"],
  ["setup", "Setup"],
  ["lessons", "Lessons"],
  ["https://git-mastery.github.io/progress-dashboard", "Progress dashboard"],
  ["https://git-mastery.github.io/problems-directory", "Problems directory"],
];
---

<header
  class="h-full flex flex-row justify-between items-center w-[80%] py-4 mx-auto border-b-1 border-b-neutral-200"
>
  <p class="font-bold text-lg !mb-0 !pb-0">Git Mastery</p>
  <nav class="h-full flex flex-row items-center gap-4">
    {
      directory.map(([path, name]) => (
        <Link
          class={
            currentPath === path
              ? "bg-blue-200 rounded-md px-2 py-1"
              : "text-neutral-500"
          }
          href={createLocalPath(path)}
        >
          {name}
        </Link>
      ))
    }
  </nav>
</header>
