---
import "../styles/global.css";
import BaseLayout from "./BaseLayout.astro";

const { title, frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title}>
  <h1>{frontmatter.title}</h1>
  <slot />
</BaseLayout>
